*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: #e5e9ec;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;

	.calc_container {
		background-color: rgb(48, 48, 48);
		width: 300px;
		filter: drop-shadow(8px 8px 10px rgba(128, 128, 128, 0.171));

		.screen {
			width: 100%;
			height: 160px;
			background-image: linear-gradient(to right, #e35289, #f4a639);
			padding-top: 3rem;
			padding-right: 1rem;

			.answer {
				width: 100%;
				text-align: right;
				color: white;
				font-size: 2.6rem;
				margin-bottom: 1rem;
			}
			.question {
				width: 100%;
				text-align: right;
				color: white;
			}
		}

		.body {
			width: 100%;
			display: flex;
			flex-wrap: wrap;

			button.btn {
				width: 25%;
				border: none;
				outline: none;
				height: 75px;
				font-weight: bolder;
				cursor: pointer;

				&:hover {
					filter: brightness(90%);
				}

				&.zero {
					width: 50%;
				}
				&.bg_gray {
					background-color: #ebe9ea;
				}
				&.bg_gra {
					color: white;
					background-image: linear-gradient(to right, #e35289, #f4a639);
				}
			}
		}
	}
}
